.about-me {
  color: var(--trueTeal);
      flex: 2; /* This makes the text area twice as wide as the image */
}


.App {
  text-align: center;
  color: var(--auqa);

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--space);
}

.App-link {
  color: (chartreuse);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-content {
  display: flex;
  align-items: center;
  /* This vertically centers the items */
  gap: 20px;
  /* This provides spacing between the items */
}

p {
  font-size: 20px;
}

.profile-image {
  flex: 1;
  box-shadow: 0 0 0 5px var(--trueTeal);
  /* border: 5px solid var(--white); */
  max-width: 30%;
  margin: 30px;
  border-radius: .5rem;
  /* ensures your image doesn't overflow its container */
}