



.App {
  text-align: center;
  color: var(--auqa);
  background-color: var(--dorianGrey)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--dorianGrey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--trueTeal);
}


.App-link {
  color: var(--chartreuse);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  border: 3px solid var(--teaGreen);
  padding: 10px;
  background-color: var(--trueTeal);
  color: var(--auqa);
  border-radius: .5rem;
}