@import '../../App.css';

.art-cart-card {
  background-color: var(--white);
  color: var(--outerSpace);
  overflow: hidden;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* Add other necessary styles like padding, margin, etc. */
}

.art-cart-card img {
  max-width: 20%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.project-card {
  max-width: 50%;  /* Or whatever width you desire */
  margin: 20px auto; /* This will center the card and provide vertical spacing */
}

