/* ArtCart.css */
.art-cart-card {
  background-color: var(--white);
  color: var(--outerSpace);
  overflow: hidden;

  /* Add other necessary styles like padding, margin, etc. */
}

.art-cart-card img {
  max-width: 20%;
  height: auto;
  display: block;
  margin: 0 auto;
}
