@import '../../App.css';


.project-card {
    background-color: var(--white);
    color: var(--outerSpace);
   
  }
  
   
  .project-card h1 {
    margin-top: 0; /* ensures there's no extra space above the title */
  }
  
  .project-card a {
    color: var(--primary-color);
    text-decoration: none; /* to remove the default underline */
    transition: color 0.3s ease; /* for a smooth color transition on hover */
  }
  
  .project-card a:hover {
    color: var(--secondary-color);
  }
  