.footer {
  background-color: var(--trueTeal
  );
  width: 90%;  /* set width to 100% */
  
  text-align: center;
  color: var(--teaGreen);
  border-radius: .5rem;
  clear: both;
  border: 3px solid var(--offMint);
  border-radius: 30px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin: auto;
  
  font-family: 'Montserrat Subrayada', sans-serif;

}


  