.footer {
  background-color: var(--trueTeal
  );
  width: 75%;  /* set width to 100% */
  
  text-align: center;
  color: var(--aqua);
  border-radius: .5rem;
  clear: both;
  border: 10px solid var(--white);
  border-radius: 20px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin: auto;
  
  font-family: 'Montserrat Subrayada', sans-serif;

}

/* :hover {
  background-color: var(--auqa);
  color: var(--white);
} */

  