.footer {
  background-color: var(--trueTeal
  );
  width: 65%;  /* set width to 100% */
  
  text-align: center;
  color: var(--aqua);
  border-radius: .5rem;
  clear: both;
  border: 7px solid var(--white);
  border-radius: 20px;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  
  font-family: 'Philosopher', sans-serif;

}

footer a:hover {
  background-color: var(--auqa);
  color: var(--white);
}

footer a {
  color: initial; 
  text-decoration: none; 
  transition: color 0.3s ease; /* smooths transition for the color change */
}