:root {
  --sunsetPink: #d5978e;
  --deepBlue: #003c53;
  --deepPurple: #5b116f;
  --greenBlue: #2364aa;
  --liteBlue: #3da5d9;
  --lavendar: #b187c5;
  --verdigris: #73bfb8;
  --orange: #e87a51;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
